.table {
    font-size: 2rem;
    /* border-collapse: separate; */
    /* border-spacing: 2rem; */
    width: 100%;
    margin-bottom: 1rem;
    /* border-bottom: 1rem solid red; */
}


.table th,
.table td {
    padding: 0.75rem;
    /* vertical-align: top; */
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    /* width: 50; */

}

.table th {
    text-align: inherit;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

tr {
    color: #595959;
}

h3{
    font-size: 1.8rem;
    color: #595959;
    /* padding: 1rem; */
    margin: 1rem 0;
}
.adjust-servings{
display: flex;
gap: 0.5rem;
}

.adjustServing-label{
    font-family: "EB Garamond",serif;
    font-weight: 900;
    color: #000;
    font-size: 20px;
    line-height: 1.25em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    
}
.serving-input{
    border: 1px solid var(--secondary-orange);
    width: 10rem;
    margin-left: 1rem;
    color: var(--primary-black);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* @media screen(max-width:) {
    
} */
